@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-color: #f73471;
  --black: #000;
  --dark-grey: #222;
  --white: #fff;
  --light-grey: #fafafa;
  --light-color: #868e96;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

::selection {
  background: var(--main-color);
  color: var(--white);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
}

section {
  padding: 2rem 9%;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--main-color);
}

.heading {
  font-size: 3rem;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: var(--black);
  text-transform: uppercase;
}

.heading span {
  text-transform: uppercase;
  color: var(--main-color);
}

/* --------------------------------- HEADER ---------------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.header .logo span {
  color: var(--main-color);
  text-transform: uppercase;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--white);
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--main-color);
}

.header .icons {
  padding: 1rem 0;
  padding-right: 2rem;
}

.header .icons a {
  padding-right: 2rem;
}

.header .icons a i {
  margin-right: 1rem;
  color: var(--main-color);
  font-size: 2rem;
}

.header .icons a .fab {
  font-size: 3rem;
  margin-right: 0;
}

.header .icons a i:hover {
  color: var(--main-color);
  background: none;
}

.header .icons a {
  color: var(--white);
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.header .icons a:hover i {
  color: var(--white);
}

.header .icons a:hover {
  color: var(--main-color);
}

.header .icons div {
  font-size: 2.5rem;
  color: #222;
  padding: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

.header .icons div:hover {
  transform: rotate(180deg);
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.header.active {
  padding: 2rem 3%;
  background: rgba(0, 0, 0, 0.9);
}

#menu-btn:hover {
  transform: rotate(180deg);
  color: var(--main-color);
}

/* ------------------ home section  --------------------- */
.home {
  padding: 0;
}

.home .home-slider .box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-size: cover !important;
  background-position: center !important;
}

.home .home-slider .box .content {
  text-align: center;
  max-width: 70rem;
  padding-top: 8rem;
}

.home .home-slider .box .scroll {
  padding-right: 1rem;
  padding-top: 0;
  overflow-y: scroll;
  height: 50rem;
  overflow: overlay;
}

.home .home-slider .box .scroll::-webkit-scrollbar {
  border: none;
  background-color: transparent;
  width: 0.8rem;
}

.home .home-slider .box .content::-webkit-scrollbar-thumb {
  background: var(--main-color);
  height: 30px;
}

.home .home-slider .box .content h3 {
  font-size: 5rem;
  color: var(--white);
  text-transform: uppercase;
  transition-delay: 0.2s;
}

.home .home-slider .box .content p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
  transition-delay: 0.4s;
  text-transform: none;
  text-align: justify;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  background: var(--white);
  font-weight: 500;
  cursor: pointer;
  color: var(--main-color);
  font-size: 1.7rem;
  text-transform: uppercase;
}

.btn:hover {
  background: var(--main-color);
  color: var(--white);
  letter-spacing: 0.1rem;
}

.home .home-slider .box .button .btn-1 {
  background: var(--main-color);
  color: var(--white);
  margin-right: 0.5rem;
}

.home .home-slider .box .button .btn-1:hover {
  background: var(--white);
  color: var(--main-color);
}

.home .home-slider .box .button {
  transition-delay: 0.6s;
}

.home .home-slider .box .content > * {
  transform: translateY(2rem);
  opacity: 0;
}

.home .home-slider .swiper-slide-active .content > * {
  transform: translateY(0);
  opacity: 1;
}

/* ----------------  feature section  ------------- */

.feature .fitness-slider .box {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 1rem 0;
}

.feature .fitness-slider .box .image {
  height: 30rem;
  width: 100%;
  filter: brightness(50%);
}

.feature .fitness-slider .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feature .fitness-slider .box:hover .image img {
  transform: scale(1.2);
}

.feature .fitness-slider .box .content {
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.feature .fitness-slider .box .content h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--white);
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.2rem;
  margin-top: 0.5rem;
}

.feature .martial-arts-slider .box {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 1rem 0;
}

.feature .martial-arts-slider .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
  filter: brightness(50%);
}

.feature .martial-arts-slider .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feature .martial-arts-slider .box:hover .image img {
  transform: scale(1.2);
}

.feature .martial-arts-slider .box .content {
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.feature .martial-arts-slider .box .content h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--white);
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.2rem;
  margin-top: 0.5rem;
}

/* ----------------- feature section ends ------------- */

/* ------------------ schedule section ------------------ */
.schedule .schedule-container h3 {
  font-size: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  padding-top: 2rem;
  text-transform: uppercase;
}
.schedule .schedule-container .box-container {
  display: flex;
  gap: 2rem;
}

.schedule .schedule-container .box-container .box {
  display: flex;
  flex-direction: column;
}

.schedule .schedule-container .box-container .box .cardio-fitness .orario {
  padding-top: 4rem;
}

.schedule
  .schedule-container
  .box-container
  .box
  .ginnastica-posturale
  .orario {
  padding-top: 5rem;
}

.schedule .schedule-container .box-container .box .yoga .orario {
  padding-top: 1rem;
}

.schedule .schedule-container .box-container .box .zumba .orario {
  padding-top: 1rem;
}

.schedule .schedule-container .box-container .box .baby-fitness,
.cardio-fitness,
.ginnastica-posturale,
.yoga,
.zumba {
  flex: 1;
}

.schedule .schedule-container .box-container .schedule-box {
  display: flex;
  flex-direction: column;
  background: var(--light-grey);
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 23rem;
}

.schedule .schedule-container .box-container .schedule-box .orario-box {
  padding-bottom: 1rem;
}

.schedule .schedule-container .box-container .schedule-box p span {
  font-weight: bold;
  text-transform: none;
}

.schedule .schedule-container .box-container .schedule-box p {
  text-align: center;
}

.schedule .schedule-container .box-container .karate .schedule-box .hours .row {
  padding-top: 1rem;
}

.schedule .schedule-container .box-container .judo .schedule-box .hours .row {
  padding-top: 1rem;
}

.schedule .schedule-container .box-container .box .judo,
.kick-box,
.kudo,
.krav-maga,
.mma {
  flex: 1;
}

/* --------------- schedule sections ends --------------*/

/* ---------------- trainer section starts ----------------- */

.trainers .trainer-slider .box {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 1rem 0;
  background: var(--light-grey);
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.trainers .trainer-slider .box .image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 2rem;
}

.trainers .trainer-slider .box .image img {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 50%;
}

.trainers .trainer-slider .box .name {
  padding: 2rem 0;
}

.trainers .trainer-slider .box .name h1 {
  font-size: 3rem;
  color: #333;
  font-weight: 600;
}

.trainers .trainer-slider .box .name p {
  font-size: 2rem;
  color: #808080;
}

/* ---------------- trainer section ends ----------------- */

/* ------------------ testimonial section starts ------------------ */

.testimonial .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  padding: 7rem 0;
}

.testimonial .box-container .box {
  padding: 2rem;
  position: relative;
  text-align: center;
  background: #fafafa;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.testimonial .box-container .box:hover {
  transform: translateY(-10%);
  transition: 0.5s linear;
  background: var(--white);
  border: 0.2rem solid #f8f8a1;
}
.testimonial .box-container .box .image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.testimonial .box-container .box .image img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: -6rem;
}

.testimonial .box-container .box .name {
  padding: 1rem 0;
}

.testimonial .box-container .box .name h1 {
  font-size: 2rem;
  color: var(--black);
}

.testimonial .box-container .box .name p span {
  text-transform: none;
}
.testimonial .box-container .box p {
  font-size: 1.5rem;
  color: #333;
  font-weight: 400;
  line-height: 1.8;
}
/* ------------------ testimonial section ends ------------------ */

/* ----------------- contact section starts -------------*/

.contact {
  display: block;
  padding-top: 4rem;
}

.contact .box-container {
  display: flex;
  gap: 4rem;
}

.contact .heading h2 {
  text-align: center;
}

.contact .box-container p {
  font-size: 1.7rem;
  padding-bottom: 2rem;
  text-transform: none;
}

.contact .box-container .form-container .form {
  display: flex;
}

.contact .box-container .form-container .form .user-data label {
  font-size: 1.7rem;
}

.contact .box-container .form-container .form .richiesta label {
  font-size: 1.7rem;
}
.contact .form-container .user-data {
  display: block;
  padding-right: 2rem;
}

.contact .form-container .richiesta {
  display: flex;
  flex-direction: column;
}

.contact .box-container .button {
  padding-top: 2rem;
}
.contact .box-container .button .btn-2 {
  background: var(--main-color);
  color: var(--white);
  margin-right: 0.5rem;
}

.contact .address h3 {
  font-size: 2rem;
}

.contact .address p {
  font-size: 1.7rem;
}

.contact .address .contact-info p span {
  font-weight: bold;
}

.contact .address .contact-info p {
  padding-bottom: 0;
  text-transform: none;
}
/* ------------------ footer section starts ------------- */

.footer {
  background: var(--dark-grey);
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
}

.footer .box-container .box {
  padding: 2rem;
}

.footer .box-container .box h1 {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: 600;
  padding-bottom: 1rem;
}

.footer .box-container .box .text {
  color: #eee;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1.8;
  padding-bottom: 1rem;
}

.footer .box-container .box .text p {
  text-transform: none;
  text-align: justify;
}

.footer .box-container .box .icons {
  padding: 1rem 0;
}

.footer .box-container .box .icon a i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  background: var(--main-color);
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
  margin-right: 0 0.5rem;
  color: var(--white);
}

.footer .box-container .box .icon a i:hover {
  color: var(--main-color);
  background: none;
  border: 0.2rem solid var(--main-color);
}

.footer .box-container .box .icons a {
  display: block;
  color: var(--white);
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.footer .box-container .box .icons a i {
  margin-right: 0.5rem;
  color: var(--main-color);
}

.footer .box-container .box .icons a:hover i {
  padding-right: 2rem;
  color: var(--white);
}

.footer .box-container .box .icons a:hover {
  color: var(--main-color);
}

.footer .credit {
  padding: 3rem 0;
  text-align: center;
  border-top: 0.1rem solid #808080;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}

.footer .credit span {
  color: var(--main-color);
}
/* ------------------ footer section ends ------------- */

/* ---------------------------------- for maxWidth 991px ------------------------ */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  .header.active {
    padding: 2rem;
  }
}

/* ---------------------------------- for maxWidth 768px ------------------------ */

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }

  #menu-btn {
    display: inline-block;
  }

  #cellphone-icon {
    display: none;
  }

  #phone-icon {
    display: none;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: black;
    border-top: 0.3rem solid white;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }

  .header .icons a i .fas {
    display: none;
  }
}

/* ------------------------------------ for max-width 450px -------------------- */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header .icons a {
    letter-spacing: none;
    font-size: 1.3rem;
    padding: 1rem;
  }
}
