@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --main-color: #f73471;
  --black: #000;
  --light-color: #868e96;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

::selection {
  background: var(--main-color);
  color: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
}

section {
  padding: 2rem 9%;
}

.heading {
  font-size: 4;
  text-align: center;
  padding-top: 4;
  padding-bottom: 2 rem;
  color: var(--black);
  text-transform: uppercase;
}

.heading span {
  text-transform: uppercase;
  color: var(--main-color);
}

/* --------------------------------- HEADER ---------------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.header .logo span {
  color: var(--main-color);
  text-transform: uppercase;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--main-color);
}

.icons {
  display: flex;
}

.header .icons a {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  color: #fff;
  background: var(--main-color);
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  border: none;
}

.header .icons a:hover {
  color: var(--main-color);
  background-color: #fff;
}

#menu-btn {
  display: none;
  font-size: 2.5rem;
  color: var(--black);
  padding: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

.header.active {
  padding: 2rem 9%;
  background: rgba(0, 0, 0, 0.9);
}

#menu-btn:hover {
  transform: rotate(180deg);
  color: var(--main-color);
}

.selected-lang {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  line-height: 2;
  font-size: 1.3rem;
  width: 60px;
}

.selected-lang::before {
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  background-image: url("../images/flags/it.svg");
}

.lang-menu {
  width: 25px;
  position: relative;
}

.lang-menu ul {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  list-style-type: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 90px;
  height: 32px;
  display: none;
  position: absolute;
}

.lang-menu ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.lang-menu ul li a {
  width: 125px;
  display: block;
  padding: 5px 10px;
  font-size: 1.3rem;
}

.lang-menu ul li a:before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 20px;
  background-image: url("../images/flags/uk.svg");
  margin-right: 5px;
  vertical-align: middle;
}

.lang-menu ul li a:hover {
  background-color: #f2f2f2;
}

.lang-menu:hover ul {
  display: block;
}

/* ------------------ home section  --------------------- */
.home {
  padding: 0;
}

.home .home-slider .box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-size: cover !important;
  background-position: center !important;
}

.home .home-slider .box .content {
  text-align: center;
  max-width: 70rem;
}

.home .home-slider .box .content h3 {
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  transition-delay: 0.2s;
}

.home .home-slider .box .content p {
  font-size: 1.7rem;
  color: #eee;
  padding: 1rem 0;
  transition-delay: 0.4s;
}

.home .home-slider .box .button .btn-1 {
  background: var(--main-color);
  color: #fff;
  margin-right: 0.5rem;
}

.home .home-slider .box .button .btn-1:hover {
  background: #fff;
  color: var(--main-color);
}

.home .home-slider .box .button {
  transition-delay: 0.6s;
}

.home .home-slider .box .content > * {
  transform: translateY(2rem);
  opacity: 0;
}

.home .home-slider .swiper-slide-active .content > * {
  transform: translateY(0);
  opacity: 1;
}
